.calendarContainer {
  padding: 20px;
  max-width: 800px; /* 캘린더의 최대 너비 설정 */
  margin: 0 auto; /* 중앙 정렬 */
}

.current-date {
  background-color: #f0f8ff; /* 현재 날짜 하이라이트 색상 */
}

.highlight {
  background-color: #ffeb3b; /* OCR 결과가 있는 날짜 하이라이트 색상 */
  border-radius: 50%;
  width: 15px; /* 크기 조정 */
  height: 15px; /* 크기 조정 */
  margin: 0 auto;
}

.totalAmount {
  font-size: 0.8em;
  color: #333;
}

.selectedDateInfo {
  margin-top: 20px;
}

/* 캘린더의 크기 조정을 위한 스타일 */
.fc {
  font-size: 0.9em; /* 캘린더의 전체 폰트 크기 조정 */
}

.fc-toolbar-title {
  font-size: 1.2em; /* 캘린더 헤더 제목 크기 조정 */
}

.fc-daygrid-day {
  height: 80px; /* 일별 셀의 높이 설정 */
}

.fc-daygrid-event {
  font-size: 0.8em; /* 이벤트의 폰트 크기 조정 */
}

/* 카테고리 필터링 UI 스타일 */
.filterContainer {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.filterLabel {
  display: flex;
  align-items: center;
  font-size: 0.9em;
}

.filterCheckbox {
  margin-right: 5px;
}
