.header {
  background-color: #F8F8F8;
  display: flex;
  justify-content: space-between; /* 양쪽 끝으로 정렬 */
  align-items: center; /* 수직 정렬 */
  padding: 10px 20px; /* 내부 여백 */
  border-bottom: 1px solid #ebebeb; /* 아래쪽 경계선 */
}

.buttonContainer {
  display: flex;
  gap: 10px; /* 버튼 간 간격 */
}

.button_login {
  background-color: #0658F6;
  color: #F8F8F8;
  border: none;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* hover 효과 부드럽게 */
  border-radius: 5px; /* hover 시 배경에 적용 */
}

.button_signup {
  background-color: #A4A4A4;
  color: #F8F8F8;
  border: none;
  padding: 8px 16px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* hover 효과 부드럽게 */
  border-radius: 5px; /* hover 시 배경에 적용 */
}

.button_login:hover {
  background-color: #0152af; /* 연한 파란색 배경 */
}

.button_signup:hover {
  background-color: #797979; /* 연한 파란색 배경 */
}

