.list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .spaceContainer {
    padding: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
  }
  
  .spaceContainer:hover {
    background-color: #E2E2E2;
    transform: scale(1.02);
  }

  .spaceContainer:hover .tag {
    color: #0658F6; /* hover 시 태그 색상 변경 */
  }
  
  .title {
    font-size: 14px;
    font-family: var(--font-pretendard), sans-serif; /* 변수로 설정된 폰트 사용 */
    font-weight: 900;
    margin-bottom: 8px;
    color: #424242;
  }
  
  .tagContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  
  .tag {
    font-family: var(--font-pretendard), sans-serif; /* 변수로 설정된 폰트 사용 */
    font-size: 11px;
    color: #A4A4A4;
    font-weight: 800;
  }
  