.layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background-color: #EDEDED;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px; /* 상위 요소 내부의 간격 */
}

.logo {
  max-width: 120px;
  height: auto;
  margin-bottom: 20px;
}

.spaceTitle {
  font-weight: 800;
  font-size: 15px;
  margin-bottom: 20px; /* 아래 요소와의 간격 설정 */
}

.content {
  flex: 1;
}
