.textCenter {
  text-align: center;
}

.title {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 600;
  color: #005bb5;
}

.subtitle {
  margin-top: 8px;
  font-size: 14px;
  color: #4b5563;
}

.socialButtonsWrapper {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.socialButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 40px;
  width: 100%;
  border: 1px solid #d1d5db;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.socialButton:hover {
  background-color: #005bb5;
  color: #ffffff;
}

.dividerWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 24px 0;
  font-size: 14px;
  color: #6b7280;
}

.divider {
  flex-grow: 1;
  height: 1px;
  background-color: #e5e7eb;
}

.formWrapper {
  width: 100%;
}

.formInput {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 14px;
  color: #4b5563;
  outline: none;
  margin-top: 12px;
  margin-left: -12px;
}

.idInput {
  margin-bottom: 20px; /* 아이디 입력 필드 아래 간격 */
}

.formInputMargin {
  margin-bottom: 20px; /* 비밀번호 입력 필드 아래 간격 */
}

.errorContainer {
  height: 24px; /* 오류 메시지의 높이를 고정하여 공간 확보 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorMessage {
  color: red;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

/* 애니메이션 클래스 추가 */
.shake {
  animation: shake 0.5s;
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-10px); }
  40% { transform: translateX(10px); }
  60% { transform: translateX(-10px); }
  80% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}

.resetPasswordWrapper {
  margin: 12px 0;
  font-size: 14px;
  color: #6b7280;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center; /* 중앙 정렬 */
}

.verticalBar {
  color: #6b7280;
}

.link {
  color: #2563eb;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.primaryButton {
  width: 100%;
  padding: 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* 부드러운 전환 효과 */
}

.primaryButton:hover {
  background-color: #333333; /* 호버 시 변경될 배경색 */
}

.signUpWrapper {
  margin-top: 24px;
  text-align: center;
  font-size: 14px;
  color: #6b7280;
}
